<!DOCTYPE html>
<html 
    lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <!-- agregame el encabezado "navbar navbar-expand-lg bg-red-600" -->
    <body class="">
      <nav class="navbar navbar-expand-lg bg-red-600" data-bs-theme="dark">
        <div class="container-fluid">
            <span class="navbar-toggler-icon"></span>
              <a class="navbar-brand" href="/">PREDICCION</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse text-white" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/predecir_anemia">Datos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mostrar_tabla">Tabla</a>
                  </li>
                </ul>
                <span class="navbar-text">  
                  Navbar text with an inline element
                </span>
              </div>
            </div>
      </nav>



  <section 
    id="hero">
    <div class="container">
        <div class="content-center">
          <h1 class="text-red-700 font-bold text-2xl">ANEMIA</h1>
            <p>La anemia es una condición médica que se caracteriza por una disminución en la cantidad de glóbulos rojos o de hemoglobina en la sangre. Este fenómeno compromete la eficiencia del transporte de oxígeno, dando lugar a síntomas como fatiga, palidez y dificultad para respirar. Las raíces de la anemia pueden encontrarse en deficiencias nutricionales, pérdida de sangre o alteraciones en la producción de glóbulos rojos.</p>
        </div>
    </div>
  </section>


    <section id="predecir">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Predecir Anemia</h5>
                            <p class="card-text">En esta parte es donde se va a insertar datos para predecir si tiene anemia o no</p> <br>
                            <a href="/predecir_anemia" class="px-3 py-2 bg-red-500 font-bold text-white rounded-[1rem]">consultar datos</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Reporte Tabla</h5>
                            <p class="card-text">Mostrar tablas del reporte y los datos de la base de datos </p> <br>
                            <a href="/mostrar_tabla" class="px-3 py-2 bg-red-500 font-bold text-white rounded-[1rem]">mostrar tabla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>