<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
  <!-- agregame el encabezado "navbar navbar-expand-lg bg-red-600" -->
<body>
  <nav class="navbar navbar-expand-lg bg-red-600" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">PREDICCION</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predecir_anemia">Datos</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/mostrar_tabla">Tabla</a>
          </li>
        </ul>
        <span class="navbar-text">  
        </span>
      </div>
    </div>
</nav>
  <div class="mx-8">
      <h2 class="text-lg font-semibold py-4">Datos Procesados:</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Genero</th>
              <th>Hemoglobina</th>
              <th>MCH</th>
              <th>MCHC</th>
              <th>MCV</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{dato1}}</td>
              <td>{{dato2}}</td>
              <td>{{dato3}}</td>
              <td>{{dato4}}</td>
              <td>{{dato5}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 class="text-lg font-bold py-3">RESULTADOS</h2>
      <p class="text-center text-[2rem]">
        Segun los datos ingresados, el paciente   
        <span class="text-red-600 font-bold uppercase"> {{resul}} </span>
      </p>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>