<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">

    <nav class="navbar navbar-expand-lg bg-red-600" data-bs-theme="dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">PREDICCION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predecir_anemia">Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mostrar_tabla">Tabla</a>
            </li>
            </ul>
            <span class="navbar-text">  
            </span>
        </div>
        </div>
    </nav>

    <h1 class="text-[2rem] px-4 md:px-6 text-red-500 font-semibold">Reporte de Tabla</h1>

    <ul class="px-4 md:px-6 pb-4">
        <li>Gender (Genero): Masculino = 0 y Femenino = 1</li>
        <li>Hemoglobin (Hemoglobina): Nivel de la hemoglobina.</li>
        <li>MCH: Cantidad de hemoglobina promedio de hemoglobina que se encuetra en cada glóbulos rojo.</li>
        <li>MCHC: Concentración promedio de hemoglobina en cada glóbulo rojo.</li>
        <li>MCV: Tamaño promedio de cada glóbulo rojo.</li>
    </ul>
    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            border: 2px solid #ccc;
            font-size: 16px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:hover {
            background-color: #e0e0e0;
        }
  </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Genero</th>
                <th>Hemoglobina</th>
                <th>MCH</th>
                <th>MCHC</th>
                <th>MCV</th>
                <th>Resultados</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data.values %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class = "flex justify-center py-4" method="get" action="{{ url_for('descargar_tabla') }}">
        <button type="submit" class="px-3 py-2 bg-red-500 font-bold text-white rounded-[1rem] active:scale-95 hover:bg-red-600">Descargar toda la base de datos</button>
    </form>

</body>
</html>